
.wrapper {
    color: #48484bce;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    height: 72vh;
}

.wrapper p {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0 auto;
}