@import url(styles.css);

.wrapper {
  gap: 2.4rem;
  padding: 8rem 0rem;
}

.justify {
    display: flex;
    justify-content: center;
}

#alreadyAccountButton {
  margin-top: 22rem;
}

.emailInUse {
  font-size: 1.3rem;
  display: none;
}